@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.neon-border {
  border: 5px solid #0ff;
  box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff;
  border-radius: 10px;
  animation: neon 2s infinite alternate;
}

@keyframes neon {
  0% {
    border-color: #0ff;
    box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff;
  }
  50% {
    border-color: #f0f;
    box-shadow: 0 0 5px #f0f, 0 0 10px #f0f, 0 0 15px #f0f, 0 0 20px #f0f;
  }
  100% {
    border-color: #ff0;
    box-shadow: 0 0 5px #ff0, 0 0 10px #ff0, 0 0 15px #ff0, 0 0 20px #ff0;
  }
}

.background-image {
  background: url('/images/background5.jpg') no-repeat center center fixed;
  background-size: cover;
}

.neon-tile {
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  animation: neon-tile 2s infinite alternate;
}

@keyframes neon-tile {
  0% {
    background-color: rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.3), 0 0 10px rgba(255, 0, 0, 0.3), 0 0 15px rgba(255, 0, 0, 0.3), 0 0 20px rgba(255, 0, 0, 0.3);
  }
  50% {
    background-color: rgba(0, 255, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.3), 0 0 10px rgba(0, 255, 0, 0.3), 0 0 15px rgba(0, 255, 0, 0.3), 0 0 20px rgba(0, 255, 0, 0.3);
  }
  100% {
    background-color: rgba(0, 0, 255, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.3), 0 0 10px rgba(0, 0, 255, 0.3), 0 0 15px rgba(0, 0, 255, 0.3), 0 0 20px rgba(0, 0, 255, 0.3);
  }
}
